
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCenter.cshtml";
}
<!-- Page content -->
<div class="container-fluid mt--6" ng-app="myApp">
    <div class="row" ng-controller="myCtrl">
        <div class="col-xl-8">


            <div class="row">
                <div class="col-xl-12">
                    <div class="btn-group float-right" role="group" aria-label="Basic example">
                        <a href="@Url.Action("Hot", "Center")" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Kiếm điểm nổi tiếng nào?" data-container="body" data-animation="true">Thưởng<i class="far fa-snowflake text-danger"></i></a>
                        <a href="@Url.Action("Week","Center")" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Câu hỏi được trả lời nhiều trong tháng" data-container="body" data-animation="true">Tháng</a>
                        <a href="@Url.Action("View","Center")" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Xếp theo lượt xem cao đến thấp" data-container="body" data-animation="true">Lượt xem</a>
                        <a href="@Url.Action("Reply","Center")" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Xếp theo trả lời cao đến thấp" data-container="body" data-animation="true">Trả lời</a>
                    </div>
                </div>

            </div>
            <div class="card gedf-card" ng-repeat="x in content">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="mr-2">
                                <img class="rounded-circle" width="45" src="~/Content/LayoutCenter/ImgUser/user1.jpg" alt="">
                            </div>
                            <div class="ml-2">
                                <a href="#" class="h5 m-0">{{x.user_name}}</a>
                                <div class="h7 text-muted">...<i class="fab fa-galactic-senate" style="color:orangered;font-size:28px"></i> ...<i class="fas fa-medal" style="color:yellow"></i>  ...<i class="fas fa-medal" style="color:silver"></i> ...<i class="fas fa-medal" style="color:#e88d15"></i> </div>
                            </div>
                        </div>
                        <div>
                            <div class="dropdown">
                                <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-ellipsis-h"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                    <div class="h6 dropdown-header">Configuration</div>
                                    <a class="dropdown-item" href="#">Xóa</a>
                                    <a class="dropdown-item" href="#">Sữa</a>
                                    <a class="dropdown-item" href="#">Ẩn</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i> {{x.question_dateCreate}}</div>
                    <a class="card-link" href="#">
                        <h5 class="card-title RutNganTieuDe">
                            {{x.question_title}}
                        </h5>

                    </a>
                    <p class="text-body" ng-bind-html="x.question_content | rawHtml">
                    </p>
                    <div>
                        <span class="badge badge-primary">.....</span>

                    </div>
                </div>

                <div class="card-footer">
                    <a class="card-link"><i class="fas fa-fire-alt"></i> Nổi tiếng {{x.question_popular}}</a>
                    <a class="card-link"><i class="fas fa-reply-all"></i> Trả lời {{x.question_totalAnswer}}</a>
                    <a class="card-link"><i class="fas fa-eye"></i> Lượt xem {{x.question_view}}</a>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="row">
                <div class="col-xl-12 float-left">
                    phân trang
                </div>
            </div>

        </div>
        <div class="col-xl-4">
            <div class="card gedf-card">
                <div class="card-body">
                    <h4 class="card-title">Top câu hỏi</h4>
                    <div class="row">
                        <div class="col-2 mr--1">
                            <a href="#"><i class="fas fa-info-circle"></i></a>
                        </div>
                        <div class="col-xl-10 ml--3">
                            ...
                        </div>
                    </div>
                    <span style="font-size:28px">...</span>
                </div>
            </div>
            <div class="card gedf-card">
                <div class="card-body">
                    <h4 class="card-title">Những người cùng công nghệ</h4>
                    <div class="row">
                        <div class="col-2 mr--1">
                            <a href="#"><i class="fas fa-info-circle"></i></a>
                        </div>
                        <div class="col-xl-10 ml--3">
                            ...
                        </div>
                    </div>
                    <span style="font-size:28px">...</span>
                </div>
            </div>
            <div class="card gedf-card">
                <div class="card-body">
                    <h4 class="card-title">Công nghệ</h4>
                    <div class="row">
                        <div class="col-2 mr--1">
                            <a href="#"><i class="fas fa-info-circle"></i></a>
                        </div>
                        <div class="col-xl-10 ml--3">
                            ...
                        </div>
                    </div>
                    <span style="font-size:28px">...</span>
                </div>
            </div>
            <div class="card gedf-card">
                <div class="card-body">
                    <h4 class="card-title">Thành viên</h4>
                    <div class="row">
                        <div class="col-2 mr--1">
                            <a href="#"><i class="fas fa-info-circle"></i></a>
                        </div>
                        <div class="col-xl-10 ml--3">
                            ...
                        </div>
                    </div>
                    <span style="font-size:28px">...</span>
                </div>
            </div>
            <div class="card gedf-card">
                <div class="card-body">
                    <h4 class="card-title">Top câu hỏi công nghệ khác</h4>
                    <div class="row">
                        <div class="col-2 mr--1">
                            <a href="#"><i class="fas fa-info-circle"></i></a>
                        </div>
                        <div class="col-xl-10 ml--3">
                            ...
                        </div>
                    </div>
                    <span style="font-size:28px">...</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="footer pt-0">
        <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6">
                <div class="copyright text-center  text-lg-left  text-muted">
                    &copy; 2020 <a href="https://www.creative-tim.com" class="font-weight-bold ml-1" target="_blank">Creative Tim</a>
                </div>
            </div>
            <div class="col-lg-6">
                <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                    <li class="nav-item">
                        <a href="https://www.creative-tim.com" class="nav-link" target="_blank">Creative Tim</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://blog.creative-tim.com" class="nav-link" target="_blank">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://github.com/creativetimofficial/argon-dashboard/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</div>
<script src="~/Scripts/ListJson/ListQuestions.js"></script>