
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular-route.min.js"></script>
<h2>Create</h2>
<br />
<br />
<br />
<br />
<br />
<br />
<div ng-app="myApp" ng-controller="myCtrl">
    <form name="" ng-submit="functon();">
        @Html.AntiForgeryToken()
        <input name="user_name" class="form-control" type="text" />
        <input name="user_pass" class="form-control" type="text" />
        <button class="btn btn-default" type="reset">Them</button>
    </form>
</div>

<script>
   var app = angular.module('myApp', []);
                app.controller('myCtrl', function ($scope, $http) {
                    $scope.functon = function () {
                        $http({
                            method: "POST",
                            url: "/Users1/Create",
                            data: data
                        }).success(function (data) {

                    });
                }
    });
</script>