<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Captivate a Corporate Category Bootstrap Responsive Website Template | Home :: W3layouts</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400&display=swap" rel="stylesheet">
    
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/Content/Layout/css/style-starter.css">

</head>

<body>
    <!-- site header -->
    @Html.Action("Menu","View")
    <!-- //site header -->
    <!-- banner section -->
    @Html.Action("Vali","View")
    <!-- //site footer -->
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" class="bg-primary" title="Go to top">
        <span class="fa fa-angle-up"></span>
    </button>

    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };
        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }
        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- //move top -->
    <!-- javascript -->
    <script src="~/Content/Layout/js/jquery-3.3.1.min.js"></script>

    <!-- libhtbox -->
    <script src="~/Content/Layout/js/lightbox-plus-jquery.min.js"></script>

    <!-- particles -->
    <script src='~/Content/Layout/js/particles.min.js'></script>
    <script src="~/Content/Layout/js/script.js"></script>
    <!-- //particles -->
    <!-- owl carousel -->
    <script src="~/Content/Layout/js/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            var owl = $('.owl-carousel');
            owl.owlCarousel({
                margin: 10,
                nav: true,
                loop: false,
                responsive: {
                    0: {
                        items: 1
                    },
                    767: {
                        items: 2
                    },
                    1000: {
                        items: 3
                    }
                }
            })
        })
    </script>

    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- disable body scroll which navbar is in active -->
    <!-- bootstrap -->
    <script src="~/Content/Layout/js/bootstrap.min.js"></script>
    @RenderBody()
</body>
</html>
